<div class="toolbar" role="banner">
    <span>{{ title | uppercase }}</span>
    <div class="spacer"></div>
</div>

<div class="content" role="main">

<div class="container">

  <div class="row">

    <div class="col-md-4 col-lg-4 col-sm-12">
      <div class="card">
        <app-quote-form></app-quote-form>
      </div>
    </div>

    <div class="col-md-8 col-lg-8 col-sm-12">

      <div class="row">
        <div class="col-md-6 col-lg-6 col-sm-12">
          <h4>Available Quotes</h4>
          <hr/>
        </div>
      </div>

      <div class="row">

        <div class="col-md-6 col-lg-6 col-sm-12">
          <div class="card">
            Quote 1
          </div>
        </div>
        
        <div class="col-md-6 col-lg-6 col-sm-12">
          <div class="card">
            Quote 2
          </div>
        </div>
      </div>

  </div>

</div>

</div>