<div class="container">
    <div class="row">
        <div class="col-md-4 col-lg-4 col-sm-12">
            <div class="card">
                <app-quote-form (addQuote)='addNewQuote($event)'></app-quote-form>
            </div>
        </div>
        <div class="col-md-8 col-lg-8 col-sm-12">
            <div class="row">
                <div class="col-md-6 col-lg-6 col-sm-12" *ngFor='let quote of quotes;let i = index;'
                 (mouseover)='displayQuoteDetails(i)' (mouseout)='hideQuoteDetails(i)'>
                    <div class="quote-card">
                        <div class="quote-header">
                            <div>
                                <span class='deleteicon' (click)='deleteQuote(i)' title="Delete Quote"> &times;</span>
                            </div>
                            <div>
                                <p>
                                    {{quote.quote}} <cite>&#x7e; {{quote.author}}</cite><br/>
                                    <span class="elapsed-duration">(1 Week)</span>
                                </p>
                            </div>
                            <div class="quote-votes">
                                <button class="upvote btn btn-success btn-sm" (click)='upvoteQuote(i)'>Upvote</button>
                                <button class="downvote btn btn-secondary btn-sm" (click)='downvoteQuote(i)'>Downvote</button>
                            </div>
                            <div class="spacer"></div>
                        </div>
                        <div class="quote-details spacer">
                            <app-quote-detail *ngIf='quote.showQuoteDetails' [quote]='quote'></app-quote-detail>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>