h1,h2,h3,h4,h5,h6{
  margin: 8px 0;
}

.card {
  border-radius: 4px;
  border: 1px solid #eee;
  box-shadow: 0px 2px 3px #eee;
  background-color: #fff;
  margin: 2% 2% 2% 0%;
  padding: 5% 3% 5% 3%;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
}

a,a:visited,a:hover {
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  color: #125699;
}
  
@media screen and (max-width: 767px){
  .card:not(.highlight-card) {
    height: 16px;
    margin: 8px 0;
  }
}
  
.quote-card{
  width: 100%;
  height: auto;
  line-height: 24px;
  margin: 2% 2% 5% 0%;
  background-color: #fff;
  border: 1px solid #eee;
  padding: 7.5% 7.5% 7.5% 7.5%;
  border-top:3px solid #439894;
  box-shadow: 0px 2px 3px #eee;
  transition: all 0.2s ease-in-out;
}

.deleteicon{
  right:6%;
  top: 3.5%;
  color:#a94442;
  cursor: pointer;
  font-size: 30px;
  position: absolute;
}

.quote-header p{
  font-weight: 600;
  text-align: center;
}

cite,.elapsed-duration,.quote-details{
  font-size: 12px;
  font-weight: lighter;
}

.spacer{
  clear: both;
}

.upvote, .submitted-by{
  float: left;
}

.downvote, .date-submitted{
  float: right;
}