@import "~bootstrap/dist/css/bootstrap.min.css";
body{
    background-color: #ffffff;
}

*{
    border-radius:unset !important;
}

textarea {
    resize: none;
}

input:focus, textarea:focus, input.form-control:focus {
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
}
